@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8f8f9;
  color: #222222;
}

div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
select,
option {
  font-family: "SourceSansPro";
}

select,
option {
  background-color: white;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  accent-color: #626262;
}

input[type="checkbox"]:checked {
  accent-color: #626262;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}